html, 
/* Variables */
:root{
    --basic-grey: #EEEEEE;
    --basic-red: #FB565A;
    --basic-white: #FFFFFF;
    --social-grey: #E1E1E1;
    --basic-black: #000000;
    --basic-green: #00CA74;
    --basic-yellow: #EFC849;
    --basic-dark-grey: #888888;

    --basic-dark-red: #E74246;
    --basik-superdark-red: #D7373B;
    --basic-dark-green: #00BC6C;
    --basic-superdark-green: #00AA62;
    --basic-dark-yellow: #EAB534;
    --basic-superdark-yellow: #E5A722;
    --basic-dark-grey: #DFDFDF;
    --basic-superdark-grey: #D5D5D5;

    
}
 /*Global*/   
 /*
 .index-grid{
     display: grid;
     width: 1440px;
     margin-left: auto;
     margin-right: auto;
     column-gap: 40px;
     row-gap: 80px;
     grid-template-columns: repeat(12, 60px);
     grid-template-rows: auto 420px auto auto auto auto auto;
 }
     /*или grid-template-columns: 360px 360
     px 360px;*/
 

 
body{
/*
width: 1440px;
margin-left: 140px;
margin-right: 140px; */
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: var(--basic-black);
background-color: var(--basic-white);
background-position: top center;
}
a{
    text-decoration: none;
    color: var(--basic-black);
}
img{
    max-width: 100%;
    height: auto;
}
.main-navigation{
    display: grid;
    font-size: 16px;
    line-height: 30px;
    color: var(--basic-black);
    background-color: transparent;
    
}
.main_header{
    background-color: var(--basic-grey);
    grid-column-start: 1;
    grid-column-end: -1;
}
.main_header_logo{
    padding: 78px 140px 202px 79px;
    
}
.site-navigation{
    list-style: none;

}
.site-navigation_item a:not([href]){
    background-color: var(--basic-grey);
}
.cart-link{
    padding-top: 75px;
    padding-right: 140px;
    
}
/*user navigation*/
.site-navigation {
    display: inline-block;
}
.site-navigation_item{
    display: inline-block;
    padding: 22.5px;
}
.site-navigation a{
    color: var(--basic-black);
}
.site-navigation a:hover{
    color: var(--basic-red);
}
.site-navigation a:focus{
    color: var(--basic-black);
    opacity: 30%;
    text-decoration: underline;
    text-decoration-color: var(--basic-red);
}

/*Slider*/
/*
.slider{
    display: grid;
    grid-column: 1/-1;
    background-color: var(--basic-grey);
}
*/
.slider_item-1{
    text-transform: none;
    /*grid-column-start: 1;
    grid-column-end: -1;*/
}
.slider_item-1 h2{
    font-size: 55px;
    line-height: 55px;
    text-transform: uppercase;
}
.slider_item-1 a{
    padding: 17px 54px 15px 54px;
    background-color: var(--basic-red);
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--basic-white);
    border-radius: 3px;
}
.slider_item-1_img{
   /* grid-column: 5/13;*/
}

/*Services*/
.services{
}
.services_list{
    
    list-style: none; 
    /* 
    display: grid;
    width: 1300px;
    grid-template-columns: repeat(12, 60px);
    grid-template-rows: 80px 140px auto auto;
    column-gap: 40px;
    list-style: none;  
    grid-column: 1/-1;*/
}
.services_item1{
   display: inline-block;
   text-align: left;
   text-transform: none;
   display: inline-block;
   padding-right: 50px;
   /*grid-column: 1/4;*/
}
.services_item2{
    display: inline-block;
    text-align: left;
    text-transform: none;
    display: inline-block;
    padding-right: 50px;
    /*grid-column: 5/8;*/
}
.services_item3{
    display: inline-block;
    text-align: left;
    text-transform: none;
    display: inline-block;
    padding-right: 50px;
    /*grid-column: 9/12;*/
}
.services_item h2{
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
}

.button{
    font: innerit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color:var(--basic-red);
    border: none;
    padding: 17px 39px 15px 40px;
    border-radius: 3px;
    
}
.button_yellow{
    font: innerit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color:var(--basic-yellow);
    border: none;
    padding: 17px 39px 15px 40px; 
    border-radius: 3px;
}
.button_green{
    font: innerit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color:var(--basic-green);
    border: none;
    padding: 17px 39px 15px 40px;
    border-radius: 3px;
}
.button_grey{
    font: innerit;
    text-align: center;
    line-height: 18px;
    color: var(--basic-black);
    vertical-align: middle;
    text-transform: uppercase;
    background-color:var(--basic-grey);
    border: none;
    padding: 17px 88px 18px 89px;
    border-radius: 3px;

}
.button:hover{
    background-color: var(--basic-dark-red);
}
.button:focus{
    background-color: var(--basik-superdark-red);
}
.button_green:hover{
    background-color: var(--basic-dark-green);
}
.button_green:focus{
    background-color: var(--basic-superdark-green);
}
.button_yellow:hover{
    background-color: var(--basic-dark-yellow);
}
.button_yellow:focus{
    background-color: var(--basic-superdark-yellow);
}

/*About*/
.about_numbers{
   /* display: grid;
    grid-template-rows: 208px repeat(3, auto);
    grid-gap: 10px;
    max-width: 360px; */
}
.about_numbers_img{
    width: 360px;
    height: 208px;
}

/*Clients*/
.client_item{
    display: inline-block;
}

/*Main footer*/
.main_footer{
    display: grid;
    grid-column: 1/-1;
    grid-row: auto;

}
.button_grey:hover{
background-color: var(--basic-dark-grey);
}
.button_grey:focus{
    background-color: var(--basic-superdark-grey);
    box-shadow: rgba(0 3 0 0);
}
.contacts{
    text-transform: none;
}
.contacts_phone{
    color: inherit;
}

.socialmedia_list{
    list-style: none;
}
.social-button{
   width: 81px;
   height: 81px;
   
   background-color: var(--social-grey);
}
.social-button:hover{
background-color: var(--basic-dark-red);
}
.social-button:focus{
background-color: var(--basik-superdark-red);
}
.discount{
    text-align: center;
    text-transform: none;
    font-size: 16px;
    line-height: 22px;
}
.discount h2{
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}
.modal{
    color: var(--basic-black);
    background-color: var(--social-grey);
    border: none;
}
.catalog_name{
    background-color: var(--social-grey);
    text-align: center;
}
.catalog_name h1{
    font-size: 55px;
    line-height: 55px;
}
.grid_list{
    list-style: none;
    text-transform: none;
    font-size: 16px;
    line-height: 20px;
}
.features_list{
    list-style: none;
    text-transform: none;
    font-size: 16px;
    line-height: 20px;
}

.header_filter{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}
.radio{
    background-color: #4D4D4D;
    position: absolute;
}
.pagination_item a{
color: var(--basic-black);
background-color: var(--social-grey);
}
.pagination_item:hover{
    color: var(--basic-black);
    background-color: var(--basic-dark-grey);
}
.pagination_item:focus{
    color: var(--basic-black);
    opacity: 30%;
    background-color: var(--basic-superdark-grey);
}
.pagination_item:active{
    color: var(--basic-black);
    background-color: #FFFFFF;
}
.pagination_next_item a{
    color: var(--basic-black);
    background-color: var(--social-grey);
}
.pagination_next_item:hover{
    color: var(--basic-black);
    background-color: var(--basic-dark-grey);
}
.pagination_next_item:focus{
    color: var(--basic-black);
    opacity: 30%;
    background-color: var(--basic-superdark-grey);  
}
.projects_img{
    
}